@import "variables.module";

.container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    // padding-bottom: 10px;
    p{
        line-height: 14px;
        margin: 0;

    }
    .info{
        p{
            font-size: 13px!important;
        }
        text-align: end;
        font-size: 12px;
    }
    .contact{
        p{

            text-align:start;
            font-size: 10px !important;
        }
        img{
            height: 15px;
            width: 15px;
        }
    }
    .contacte{
        display: flex;
        // justify-content: center;
        align-items: center;
        gap:5px
    }
    .copyright{
        margin-top: 2%;
        font-family: 'Cabify Circular';
        font-weight: bold;
    }

}

.footer{
    background-color: $accent-color;
    svg{
        fill:white;
        color: white;
        opacity: 0.4;
        margin-right: 5px;
        height: 20px;
        width: 15px;
    }
    .space{
        margin: 5px;
        height: 60px;
        width: 1px;
        border: solid 1px;
    }
    .contact{
        text-align:start;
    }
    .pago{
        display: flex;
        justify-content: center;
        img{
            margin-top:-3%;
            width: 90%;
            // width: auto;
        }
    }
}