@import "variables.module";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

img {
  height: auto;
  width: 100%;
}

h1,
h2 {
  font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;

}
h2{
  font-size: clamp(1.2625rem, 0.9265rem + 1.3251vw, 2.3rem);
}
p {
  font-family: "Cabify Circular", sans-serif;
  font-size: clamp(1rem, 0.4064rem + 1.2367vw, 1.275rem) !important;
}
a {
  color: inherit;
  text-decoration: none;
}

#main_slider{
  button{
    display: none !important;
  }
}

#sec_slider{
  button{
    margin-top: 0 !important;
    box-shadow: none !important;
    background-color: $accent-color;
    opacity: 1;
  }

  button::before{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    font-size: 25px;
    margin-left: -2px;
  }
  .slick-next::before{
    margin-left: -3px;

  }
  .slick-prev::before{
    margin-right: -1px;

  }
}

button {
  font-family: "Cocogoose", sans-serif;
  appearance: none;
  border: none;
  background-color: $accent-color;
  color: $primary-color;
  padding: 15px 30px;
  font-size: clamp(1rem, 0.4064rem + 1.2367vw, 1.875rem);
  border-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 0px 29px 0px;
}

* {
  box-sizing: border-box;
}

#mobile {
    display: block;
}

#desktop {
    display: none;
}

.modal {
    .modal-header{

        h2 {
            color: $secondary-color;
            line-height: 30px;
            // padding-top: 20px;
            padding-bottom: 10px;
            font-family: "Cabify Circular", sans-serif;
            margin: auto;
            line-height: 110%;
            text-align: center;
            font-weight: 600;
            margin-bottom: 0;
            font-weight: normal;
            max-width: 400px;
        }
    }
    input {
        font-size: 20px;
        font-family: "Cabify Circular", sans-serif;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: solid 2px $accent-color;
        color: $accent-color;
    }

    input::placeholder {
        font-family: "Cabify Circular", sans-serif;
        color: $accent-color;
    }
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent-color;

    .modal-body {
        h2 {
            text-align: left;
            font-family: "Cocogoose", Verdana, Geneva, Tahoma, sans-serif;
            color: $accent-color;
            margin-bottom: 0;
        }
        // padding: 20px;
    }
    #modalbutton {
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-content: stretch;
        padding: 10px 25px;
    }

    .modal-content {
        margin: 5px;
        padding: 30px 30px;
        width: 100%;
        max-width: 600px;
        background-color: #fff;
    }
}



@media (min-width: 768px) {
  #mobile {
        display: none;
    }
    #desktop {
        display: block;
    }
  .modal {
        h2#lead{
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    .modal-header{

        h2 {
            color: $secondary-color;
            // line-height: 100%;
            // padding-top: 20px;
            padding-bottom: 10px;
            font-family: "Cabify Circular", sans-serif;
            margin: auto;
            line-height: 110%;
            text-align: center;
            font-weight: 600;
            margin-bottom: 0;
            font-weight: normal;
            max-width: 400px;
        }
    }
    input {
        font-size: 20px;
        font-family: "Cabify Circular", sans-serif;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: solid 2px $accent-color;
        color: $accent-color;
    }

    input::placeholder {
        font-family: "Cabify Circular", sans-serif;
        color: $accent-color;
    }
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent-color;

    .modal-body {
        h2 {
            text-align: left;
            font-family: "Cocogoose", Verdana, Geneva, Tahoma, sans-serif;
            color: $accent-color;
            margin-bottom: 0;
        }
        // padding: 20px;
    }
    #modalbutton {
        font-size: 20px;
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-content: stretch;
        padding: 20px 45px;
    }

    .modal-content {
        margin: 5px;
        padding: 30px 40px;
        width: 100%;
        max-width: 600px;
        background-color: #fff;
    }
}
}

@font-face {
  font-family: "Akira Expanded";
  src: local("Akira Expanded Super Bold"), local("AkiraExpanded-SuperBold"),
    url("/fonts/AkiraExpanded-SuperBold.woff2") format("woff2"),
    url("/fonts/AkiraExpanded-SuperBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial Rounded MT";
  src: local("Arial Rounded MT Bold"), local("ArialRoundedMTBold"),
    url("/fonts/ArialRoundedMTBold.woff2") format("woff2"),
    url("/fonts/ArialRoundedMTBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabify Circular";
  src: local("Cabify Circular Bold"), local("CabifyCircular-Bold"),
    url("/fonts/CabifyCircular-Bold.woff2") format("woff2"),
    url("/fonts/CabifyCircular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabify Circular";
  src: local("Cabify Circular Book"), local("CabifyCircular-Book"),
    url("/fonts/CabifyCircular-Book.woff2") format("woff2"),
    url("/fonts/CabifyCircular-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabify Circular";
  src: local("Cabify Circular Light"), local("CabifyCircular-Light"),
    url("/fonts/CabifyCircular-Light.woff2") format("woff2"),
    url("/fonts/CabifyCircular-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cocogoose";
  src: local("Cocogoose"), url("/fonts/Cocogoose.woff2") format("woff2"),
    url("/fonts/Cocogoose.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
