@import "variables.module";

.container {
  padding: 40px 8vw;
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 92vh;
  width: 100%;
  transform: scale(1.01);
  background-color: black;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.01);
  }
}

.bg_slider{
  height: 92vh;
  width: auto;
}

#hero {
  position: relative;
  min-height: 92vh;
  text-align: center;
  // background-color: black;
  color: white;
  img#logo {
    width: 80%;
  }
}

#miedos {
  text-align: center;
  color: $secondary-color;
  h2 {
    margin-top: 0px;
  }
  .miedos_element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    img {
      width: 30%;
      box-shadow: rgba(123, 119, 119, 0.7) 0px 0px 19px 0px;
      border-radius: 1000px;

    }
    p {
      text-align: start;
      width: 60%;
      line-height: 130%;
    }
  }
}

#beneficios {
  background-color: $accent-color;
  text-align: center;
  h2,
  p {
    color: $primary-color;
  }
  h2{
    margin-top: 0;

  }
  img {
    width: 70%;
    box-shadow: rgba(42, 42, 45, 0.9) 0px 0px 29px 0px;
    border-radius: 15%;
    margin: auto;
  }
  p {
    margin: auto;
    width: 50%;
    line-height: 130%;
  }
  .beneficios_elements {
    gap: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .beneficios_element {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

#quien_soy {
  // min-height: 100vh;
  color: $primary-color;
  position: relative;
  .container {
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: flex-end;
  }
  p {
    // text-align: justify;
    // text-justify: inter-word;
    hyphens: auto;
  }
  img#logo {
    width: 40%;
  }
}

#propuesta{
    text-align: center;

  h1{
    margin-top: 0;
    text-align: center;
    color: $secondary-color;
    padding-bottom: 20px;
  }
  button{
    margin-top: 30px;

  }
  .main_slider{
    padding-bottom: 10px;
  }


  .slider_img{
    padding:5px;
  }
}

#testimonios{
  h2{
    margin-top: 0px;
  }
  text-align: center;
  background-color: $accent-color;
  color: $primary-color;
  .testimonios_elements{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .testimonios_element{
    background-color: $primary-color;
    color: $secondary-color;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: rgba(223, 223, 223, 0.4) 0px 0px 29px 0px;

  }
  .nombre{
    font-family: 'Cocogoose',sans-serif;
    text-transform: uppercase;
    color: $accent-color;
  }
}

#lead_magnet{
  text-align: center;
  background-color: black;
  color: $primary-color;
  h2{
    margin-top: 0;
    font-family: 'Akira Expanded';
  }
  button{
    background-color: $primary-color;
    font-family: 'Akira Expanded';
    color: black;
    font-size: 20px;
    padding: 10px 50px;

  }
  #accent{
    color: $accent-color;
  }
}

#hero_footer{
  position: relative;
  color: $primary-color;
  text-align: center;
  min-height: 90vh;
  .container{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img#logo{
    width: 50%;
  }
}

@media (min-width: 768px) {
  .container {
  padding: 60px 8vw;
}

  .bg_slider{
  height: 95vh;
  width: auto;
}
  .bg {
  height: 95vh;

  }

  #hero{
    height: 95vh;
    .container{
      height: 95vh;
    }
    text-align: start;
    h1{
      font-size: 48px;
      margin-bottom: 2vh;
    }
    p{
      margin-top: 2vh;
      font-size: 20px;
    }
    button{
      margin-top: 3vh;
      border-radius: 20px;
    }
    #logo{
      position: absolute;
      right: 30px;
      bottom: 30px;
      height: 15%;
      width: auto!important;
    }
  }

  #miedos{
    h2{
      width: 60%;
      margin: auto;
    }
    .miedos_elements{
      display: flex;
      flex-direction: row;
    }
    .miedos_element{
      padding-top: 50px;
      width: 25%;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      gap:20px;
      p{
        text-align: center;
          width: 80%;
      }
      img{
        width: 80%;
      }
    }
  }

  #beneficios{
    padding-top: 20px;
    padding-bottom: 30px;
    .beneficios_elements{
      flex-direction: row;
      justify-content: flex-start;
    }
    .beneficios_element{
      width: 25%;
      img{
        margin: 0;
        width: 94%;
      }
      p{
        width: 90%;
      }
    }
  }

  #quien_soy{
    img#logo{
      width: 20%;

    }
    h2{
      font-size: 37px;
      margin-bottom: 2vh;
    }
    p{
      margin-top: 0;
      line-height: 120%;
      width: 40%;
    }
    .container {
      min-height: 95vh;
    }
  }

  #propuesta{
    background-color: $primary-color;
    .slider_text{
      display: flex;
      gap: 5%;
      justify-content: center;
      align-items: center;
      h1{
        padding-bottom: 0;
        text-align: start;
      }
      p{
      }
      display: flex;
    }
    .main_slider{
      width: 50%;
    }
  }

  #testimonios{
    .testimonios_elements{
      flex-direction: row;

    }
    .testimonios_element{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      width: 33%;
    }
  }

  #lead_magnet{
    .container{
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: start;
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
    }
  }

  #hero_footer{
    h2{
      font-size: 35px;
    }
    img#logo{
      width: 25%;
    }
  }
}